link(rel="stylesheet", href="/CSS/header.css")

header
  nav
    .logo
      img(src='/public/imagenes/logo-edumark.png' alt='Logo')
      p
        | EDU
        span MARK
    ul
      li
        a(href='#') Inicio
      li
        a(href='./html/nosotros.html') Nosotros
      li
        a(href='./html/eventos.html') Eventos
      li
        a(href='./html/progEduc.html') Programas
      li
        a(href='./html/progEduc.html') Contacto

      li
        a#boton-sesion(href='#') Cerrar Sesión
    .mobile-menu-icon
      .hamburger-menu
        .line
        .line
        .line     
    script(src='/JS/nav-bar.js')